# Python
__pycache__/
*.py[cod]

# Conda environments
.env/
.venv/
env/
venv/
*.env
*.venv

# Jupyter Notebooks
.ipynb_checkpoints/

# MLflow artifacts
mlruns/
mlflow.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Weights & Biases
artifacts/
wandb/

# Hydra Outputs
multirun/
outputs/
